* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1440px;
  max-height: 1236px;
  margin-left: auto;
  margin-right: auto;
}

ul,
li {
  list-style: none;
}

/* Header */
header #menu-bar {
  display: none;
}

header #menu-icon {
  display: flex;
}

header #menu-icon img {
  display: none;
}

header #menu-icon button {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 112px 18px 112px;
  background-color: #ffffff;
}

header ul {
  font-size: 16px;
  display: flex;
}

header .navbar ul li {
  background-color: #ffffff;
  color: #667085;
  padding-left: 15px;
  padding-right: 15px;
}

header button.dashBtn {
  display: flex;
  color: white;
  background-color: #7f56d9;
  border-radius: 8px;
  border: 1px solid #7f56d9;
  padding: 10px 18px 10px 18px;
  height: 44px;
  width: auto;
}

header button.dashBtn span {
  background-color: transparent;
  align-self: center;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

main div.title {
  font-size: 50px;
  align-self: center;
  padding-top: 20px;
  text-size-adjust: inherit;
}

main div#disc {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #667085;
}

main div#disc div {
  padding-top: 5px;
}

main div.macbookImg {
  width: 630px;
  height: auto;
  align-self: center;
}

main div.macbookImg img {
  max-width: 100%;
  max-height: 100%;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 96px 112px 30px 112px;
  background-color: #f9fafb;
}

footer div.footerMsg {
  color: #667085;
  font-size: 16px;
  align-self: center;
}

footer div.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

footer div.icons div {
  display: flex;
  align-items: center;
}

footer div.icons span {
  padding-left: 10px;
  font-size: 20px;
}

footer button.chat {
  border-radius: 50px;
  border: 1px solid #7f56d9;
  background-color: #7f56d9;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  width: 56px;
  height: 56px;
  align-self: last baseline;
}

footer button.chat img {
  background-color: transparent;
}

/* @media */

@media (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
  /* Header */
  header {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
  }

  header div.logobar {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  header div.logobar div.logo {
    margin: 18px 56% 18px 44%;
    align-content: center;
    justify-content: center;
  }

  header > .logobar {
    order: 2;
  }
  header > #menu-icon {
    order: 1;
    display: block;
  }
  header > button {
    order: 3;
  }

  header #menu-icon img {
    padding-left: 10px;
    width: 20px;
    align-self: center;
    display: block;
  }

  header #menu-icon button {
    display: block;
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .navbar {
    display: none;
  }

  #menu-icon:hover + .navbar {
    display: block;
  }

  header button.dashBtn {
    padding: 0;
    margin: 0;
  }

  header #menu-icon button:focus + .navbar {
    display: initial;
  }

  header .navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    background-color: #f9fafb;
    align-items: center;
  }

  header ul.nav-menu li {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 0;
    text-align: center;
  }

  header ul.nav-menu li span {
    margin: auto auto;
    background-color: transparent;
    display: block;
    padding-top: 10px;
  }

  header ul.nav-menu li:hover {
    cursor: pointer;
    background-color: #7f56d9;
    color: #ffffff;
  }

  /* Main */

  main .title span {
    display: block;
    text-align: center;
  }

  /* Footer */

  footer .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .icons div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
